
.image::after {
    content: "";
    clear: both;
    display: table;
}

.columna {
    float: left;
    width: 33%;
    padding-right: 5px;
}

.front,
.back {
    overflow: hidden;
    backface-visibility: hidden;
    position: relative;
    transition: transform 0.6s linear;
}



.front {
    transform: perspective(600px) rotateY(0deg);
}

.back {
    transform: perspective(600px) rotateY(180deg);
}

.image:hover>.front {
    transform: perspective(600px) rotateY(-180deg);
}

.image:hover>.back {
    transform: perspective(600px) rotateY(0deg);
}